.flex-info{
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding: 2rem 5rem;
   
}

.tracker-crypto{
    font-size: 3.2rem;
    margin-left: auto !important;
    margin-right: auto !important;
}

.crypto-1{
    color: var(--white);
    -webkit-text-stroke-color: var(--white);
    -webkit-text-stroke-width: 0.15rem;
}
.crypto-1:hover{
    color: var(--black);
    -webkit-text-stroke-color: var(--white);
    /* -webkit-text-stroke-width: 0.3rem; */
    transition: all 0.3s;
    cursor: pointer;
}

.crypto-2{
   position: relative;
   bottom: 65px;
   color: var(--blue);
}

.crypto-para{
    position: relative;
   bottom: 110px;
    color: var(--grey) !important;
    font-size: 15px;
    text-align: left;
}

.gradient-mobile{
    width: 50% !important;
    position: relative !important;
    /* left: 150px; */
    bottom: 250px;
    /* right: 100px; */
    margin: 5rem !important;
}

/* .iphone{
    position: absolute;
    z-index: 100px;
    width: 380px;
    right: 0;
    
} */

.gradient{
    position: absolute;
    width: 320px;
    right: 0;
    top: 3.9rem;   
  
}

.iphone{  
    position: absolute;
    z-index: 100px;
    width: 380px;
    right: 0;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }    
}


@media only screen and (max-width: 800px){
  .flex-info{
    flex-direction: column;
  }
  .gradient-mobile{
    position: relative;
    bottom: 80px;
    left: 35px;
  }
  .crypto-2{
    font-size: 4.3rem;
  
  }
  .crypto-para{
    text-align: center;
   
  }
  .crypto-1{
    font-size: 5rem;
    padding-bottom: 18px;
  }
  /* .gradient{
    width: 230px;
}
.iphone{
    width: 380px;
} */
}

@media only screen and (max-width: 470px){
    .flex-info{
      flex-direction: column;
    }
    .gradient-mobile{
      position: relative;
      bottom: 80px;
      left: 35px;
    }
    .crypto-2{
      font-size: 3.4rem;
      /* margin-top: 20px; */
    }
    .crypto-para{
      text-align: justify;
     /* margin-bottom: 10px !important; */
    }
    .crypto-1{
      font-size: 4rem;
    }
    .gradient{
        width: 200px;
    }
    .iphone{
        width: 250px;
    }
  }

  @media only screen and (max-width: 550px){
    .flex-info{
      flex-direction: column;
    }
    .gradient-mobile{
      position: relative;
      bottom: 80px;
      left: 35px;
    }
    .crypto-2{
      font-size: 3.4rem;
      /* margin-top: 20px; */
    }
    .crypto-para{
      text-align: justify;
     /* margin-bottom: 10px !important; */
    }
    .crypto-1{
      font-size: 4rem;
    }
    .gradient{
        width: 200px;
    }
    .iphone{
        width: 250px;
    }
  }